/** 
Hero Section css
**/

@use "../utils/variables";
@use "../utils/mixins";

.tp-hero {
	&__height {
		background-image: url("../img/hero/hero-bg.png");
	}

	&__bg {
		padding-top: 205px;
		padding-bottom: 205px;
		position: relative;
		z-index: -2;
		@include mixins.background();

		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			padding-top: 180px;
			padding-bottom: 160px;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px) {
			padding-top: 140px;
			padding-bottom: 130px;
		}

		@media (max-width: 767px) {
			padding-top: 120px;
			padding-bottom: 100px;
		}

		@media only screen and (min-width: 576px) and (max-width: 767px) {
			padding-top: 150px;
		}
	}

	&__shape-1 {
		position: absolute;
		top: 12%;
		left: 2%;
		z-index: 1;
		animation: moving 9s linear infinite;

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			top: 9%;
			left: -3%;
		}

		&.d-none {
			display: none !important;

			@media (min-width: 1200px) {
				&.d-xl-block {
					display: block !important;
				}
			}
		}
	}

	&__shape-2 {
		position: absolute;
		top: -9.4%;
		right: -7.6%;
		animation: tptranslateX2 4s infinite alternate;
	}

	&__shape-3 {
		position: absolute;
		bottom: -17.4%;
		left: -5%;
		z-index: 1;
		animation: tptranslateY2 2s forwards infinite alternate;

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			left: -13%;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			img {
				max-width: 80%;
			}
		}
	}

	&__shape-4 {
		position: absolute;
		bottom: -7.4%;
		right: -16.6%;
		z-index: -1;
		animation: zoom 7s infinite;

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			right: -7.6%;

			img {
				max-width: 70%;
			}
		}
	}

	&__shape-5 {
		position: absolute;
		bottom: 16.6%;
		right: 9.4%;
		animation: moving 9s linear infinite;

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			bottom: 15.6%;
			right: 8.4%;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			img {
				max-width: 50%;
			}
		}
	}

	&__shape-6 {
		position: absolute;
		top: 19.3%;
		right: -6.1%;
		animation: tptranslateX2 4s infinite alternate;

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			img {
				max-width: 50%;
			}
		}
	}

	&__shape-7 {
		position: absolute;
		top: 32.3%;
		left: 4%;
		animation: moving 9s linear infinite;

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			top: 20.3%;
			left: 4%;
		}
	}

	&__shape-8 {
		position: absolute;
		bottom: 10.3%;
		left: 0%;
	}

	&__shape-9 {
		position: absolute;
		bottom: 6.3%;
		right: 35%;
		z-index: -1;
	}

	&__section-box {
		padding-bottom: 30px;
	}

	&-subtitle {
		font-weight: 500;
		font-size: 20px;
		line-height: 27px;
		color: var(--tp-common-black);
		position: relative;
		display: inline-block;
		margin-bottom: 23px;

		@media only screen and (max-width: 1200px) and (max-width: 1399px) {
			font-size: 17px;
		}

		&::before {
			content: "";
			width: 9px;
			height: 2px;
			background-color: var(--tp-common-red);
			display: inline-block;
			margin-right: 8px;
		}
	}

	&-title {
		font-weight: 500;
		line-height: 1.1;
		font-size: 70px;
		text-transform: capitalize;

		span {
			background: var(--tp-theme-1);
			-webkit-text-fill-color: transparent;
			background-clip: text;
		}

		@media only screen and (min-width: 1400px) and (max-width: 1599px) {
			font-size: 65px;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			font-size: 65px;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			font-size: 58px;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px) {
			font-size: 50px;

			br {
				display: none;
			}
		}

		@media (max-width: 767px) {
			font-size: 42px;

			br {
				display: none;
			}
		}

		@media only screen and (min-width: 576px) and (max-width: 767px) {
			font-size: 48px;

			br {
				display: none;
			}
		}

		@media only screen and (min-width: 440px) and (max-width: 575px) {
			font-size: 54px;
		}
	}

	&__left-text p {
		font-size: 16px;
		line-height: 32px;
		margin-bottom: 40px;
	}

	&__thumb-box {
		padding-right: 45px;
		position: relative;
		z-index: 12;

		@media only screen and (min-width: 768px) and (max-width: 991px),
		(max-width: 767px) {
			padding-right: 0;
		}

		img {
			width: 100%;
		}
	}
}

@media only screen and (min-width: 768px) and (max-width: 991px),
(max-width: 767px) {
	.tp-hero__left-box {
		margin-bottom: 90px;
	}
}

.text-center {
	text-align: center !important;

	@media (max-width: 992px) {
		&.text-lg-end {
			text-align: right !important;
		}
	}
}

.tp-main-btn {
	display: inline-block;
	@include mixins.border-radius(32px);
	height: 64px;
	line-height: 64px;
	padding: 0 30px;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	text-transform: capitalize;
	position: relative;
	@include mixins.transition(0.3s);
	background: var(--tp-common-white);
	color: var(--tp-common-black);
	box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.06);

	&::before {
		position: absolute;
		content: "";
		background: var(--tp-theme-5);
		@include mixins.border-radius(32px);
		width: 98%;
		height: 98%;
		left: 6px;
		top: 6px;
		@include mixins.transition(0.3s);
		z-index: -1;
	}

	&:hover {
		color: var(--tp-common-black);

		&::before {
			left: 1px;
			top: 0;
		}
	}

	i {
		margin-left: 12px;
	}
}

// index2.html hero css
.tp-hero-4 {

	@media only screen and (min-width: 768px) and (max-width: 991px),
	(max-width: 767px) {
		&__left-box {
			margin-bottom: 30px;
		}
	}

	&__bg {
		@include mixins.background();
		padding-top: 80px;
		padding-bottom: 80px;
		background-image: url("../../img/hero/bg-3-1.png");
	}

	&__shape-1 {
		position: absolute;
		bottom: 10%;
		left: 22%;
		animation: tpupdown 0.8s infinite alternate;
	}

	&__shape-2 {
		position: absolute;
		top: 13%;
		left: 1%;
		animation: moving 9s linear infinite;
	}

	&__shape-3 {
		position: absolute;
		bottom: 7%;
		left: -2%;
		animation: tptranslateX2 4s infinite alternate;
	}

	&__shape-4 {
		position: absolute;
		top: 5%;
		left: 14%;
		animation: tptranslateX2 4s infinite alternate;
	}

	&__shape-5 {
		position: absolute;
		top: 15%;
		right: -6%;
		animation: zoom 7s infinite;
	}

	&__shape-6 {
		position: absolute;
		top: 20%;
		right: -23%;
		animation: moving 9s linear infinite;
	}

	&__main-thumb img {

		@media only screen and (min-width: 992px) and (max-width: 1199px),
		only screen and (min-width: 768px) and (max-width: 991px),
		(max-width: 767px) {
			max-width: 93%;
		}
	}

	&-title {
		font-size: 70px;
		font-style: normal;
		font-weight: 500;
		text-transform: capitalize;
		line-height: 1.1;
		color: var(--tp-common-white);

		@media only screen and (min-width: 1400px) and (max-width: 1599px) {
			font-size: 68px;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			font-size: 64px;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			font-size: 58px;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px) {
			font-size: 55px;

			br {
				display: none;
			}
		}

		@media (max-width: 767px) {
			font-size: 41px;

			br {
				display: none;
			}
		}

		@media only screen and (min-width: 576px) and (max-width: 767px) {
			font-size: 46px;

			br {
				display: none;
			}
		}

		@media only screen and (min-width: 440px) and (max-width: 575px) {
			font-size: 54px;
		}
	}

	&-subtitle {
		font-size: 20px;
		font-style: normal;
		font-weight: 500;
		line-height: 1;
		display: inline-block;
		margin-bottom: 15px;
		color: var(--tp-common-white);

		@media only screen and (min-width: 1400px) and (max-width: 1599px) {
			font-size: 15px;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			font-size: 15px;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px),
		only screen and (min-width: 768px) and (max-width: 991px) {
			font-size: 14px;
		}

		@media (max-width: 767px) {
			font-size: 13px;
		}
	}

	&__content {
		p {
			font-size: 22px;

			font-style: normal;
			font-weight: 400;
			line-height: 31px;
			color: var(--tp-common-white);
			padding-bottom: 25px;

			@media only screen and (min-width: 1400px) and (max-width: 1599px) {
				font-size: 18px;
			}

			@media only screen and (min-width: 1200px) and (max-width: 1399px) {
				font-size: 16px;
			}

			@media only screen and (min-width: 992px) and (max-width: 1199px) {
				font-size: 15px;
			}

			@media only screen and (min-width: 768px) and (max-width: 991px) {
				font-size: 17px;
			}

			@media (max-width: 767px) {
				font-size: 15px;
			}
		}

		span {
			font-size: 46px;

			color: var(--tp-common-white);
			font-weight: 400;
			display: inline-block;
			padding-bottom: 30px;

			@media only screen and (min-width: 1400px) and (max-width: 1599px) {
				font-size: 37px;
			}

			@media only screen and (min-width: 1200px) and (max-width: 1399px) {
				font-size: 30px;
			}

			@media only screen and (min-width: 992px) and (max-width: 1199px),
			only screen and (min-width: 768px) and (max-width: 991px) {
				font-size: 30px;
			}

			@media (max-width: 767px) {
				font-size: 28px;
			}

			del {
				font-size: 30px;
				font-style: normal;
				font-weight: 400;
				color: var(--tp-common-red);
			}
		}
	}

	&__thumb-box {
		margin-left: -20px;
	}
}

.tp-btn-white {
	display: inline-block;
	height: 60px;
	line-height: 60px;
	padding: 0 40px;
	padding-right: 50px;
	font-size: 18px;
	font-weight: 500;
	text-transform: capitalize;
	color: var(--tp-common-black);
	background: var(--tp-common-white);
	@include mixins.border-radius(100px);

	i {
		margin-right: 11px;
		@include mixins.transition(0.3s);
	}

	&.purple-bg-color:hover {
		background-color: var(--tp-common-purple);
		color: var(--tp-common-white);

		i {
			color: var(--tp-common-white);
		}
	}
}

// index3.html
.tp-hero-3 {
	&__bg {
		background-image: url("/assets/img/hero/hero-3.png");
		@include mixins.background();

		@media (max-width: 767px) {
			background-position: right;
		}
	}

	&__mouse-scroll {
		position: absolute;
		left: 50%;
		@include mixins.transform(translateX(-50%));
		bottom: 0;
		z-index: 22;

		span {
			font-size: 14px;
			line-height: 12px;
			color: #5f6168;

		}
	}

	&__content-box {
		padding: 220px 0;

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			padding: 200px 0;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			padding: 170px 0;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px) {
			padding: 190px 0;
		}

		@media (max-width: 767px) {
			padding: 120px 0;
		}

		@media (max-width: 767px) {
			padding: 120px 0;
		}

		@media only screen and (min-width: 576px) and (max-width: 767px) {
			padding: 150px 0;
		}
	}

	&-subtitle {
		font-weight: 500;
		font-size: 15px;
		line-height: 22px;
		color: var(--tp-common-white);
		display: inline-block;
		margin-bottom: 3px;
		padding: 4px 16px;
		background: rgba(255, 255, 255, 0.2);
		@include mixins.border-radius(30px);

		@media only screen and (min-width: 1400px) and (max-width: 1599px) {
			font-size: 15px;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			font-size: 15px;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px),
		only screen and (min-width: 768px) and (max-width: 991px) {
			font-size: 14px;
		}

		@media (max-width: 767px) {
			font-size: 13px;
			padding: 8px 20px;
		}
	}

	&-title {
		font-weight: 600;
		line-height: 1.1;
		font-size: 75px;
		text-transform: capitalize;
		margin-bottom: 0;
		color: var(--tp-common-white);

		@media only screen and (min-width: 1400px) and (max-width: 1599px) {
			font-size: 65px;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			font-size: 57px;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			font-size: 58px;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px) {
			font-size: 49px;

			br {
				display: none;
			}
		}

		@media (max-width: 767px) {
			font-size: 41px;

			br {
				display: none;
			}
		}

		@media only screen and (min-width: 576px) and (max-width: 767px) {
			font-size: 48px;

			br {
				display: none;
			}
		}

		@media only screen and (min-width: 440px) and (max-width: 575px) {
			font-size: 54px;
		}
	}

	&__text {
		position: relative;
		z-index: 1;

		p {
			font-weight: 400;
			font-size: 20px;
			line-height: 32px;
			text-transform: capitalize;
			color: var(--tp-common-white);
			margin-bottom: 42px;

			@media only screen and (min-width: 1200px) and (max-width: 1399px) {
				font-size: 17px;
			}

			@media only screen and (min-width: 992px) and (max-width: 1199px) {
				font-size: 17px;
			}

			@media only screen and (min-width: 768px) and (max-width: 991px),
			(max-width: 767px) {
				font-size: 16px;

				br {
					display: none;
				}
			}
		}
	}

	&__shape-animation {
		position: absolute;
		top: 117px;
		left: -156px;
		z-index: -1;

		@media only screen and (min-width: 1400px) and (max-width: 1599px) {
			left: -50px;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			left: -35px;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			left: -20px;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px) {
			left: -30px;
		}

		@media (max-width: 767px) {
			display: none;
		}

		@media only screen and (min-width: 576px) and (max-width: 767px) {
			left: -20px;
		}

		span {
			background: linear-gradient(180deg,
					rgba(255, 55, 127, 0.8) 0%,
					rgba(143, 77, 238, 0.8) 59.35%,
					rgba(84, 123, 250, 0.8) 100%);
			@include mixins.transform(rotate(-32.23deg));
			@include mixins.border-radius(62% 47% 82% 35%/45% 45% 80% 66%);
			will-change: border-radius, transform, opacity;
			display: block;
			animation: sliderShape 8s linear infinite;
			height: 619px;
			width: 640px;

			@media only screen and (min-width: 1400px) and (max-width: 1599px) {
				height: 590px;
				width: 600px;
			}

			@media only screen and (min-width: 1200px) and (max-width: 1399px) {
				height: 500px;
				width: 520px;
			}

			@media only screen and (min-width: 992px) and (max-width: 1199px) {
				height: 470px;
				width: 520px;
			}

			@media only screen and (min-width: 768px) and (max-width: 991px) {
				height: 400px;
				width: 450px;
			}

			@media only screen and (min-width: 576px) and (max-width: 767px) {
				height: 300px;
				width: 350px;
			}
		}
	}
}

.tp-slider {
	&-2-title-shape {
		position: absolute;
		bottom: -25px;
		left: 0;

		@media (max-width: 767px) {
			bottom: -16px;
		}

		svg {
			animation: section-animation 4s infinite;
		}
	}

	&-3-title-shape {
		position: absolute;
		bottom: -71%;
		left: 22%;
		@include mixins.transform(rotate(61deg));
		z-index: -1;

		@media only screen and (min-width: 1600px) and (max-width: 1800px) {
			bottom: -88%;
		}

		@media only screen and (min-width: 1400px) and (max-width: 1599px) {
			bottom: -97%;
		}

		@media only screen and (min-width: 1200px) and (max-width: 1399px) {
			bottom: -97%;
		}

		@media only screen and (min-width: 992px) and (max-width: 1199px) {
			bottom: -160%;
		}

		@media only screen and (min-width: 768px) and (max-width: 991px) {
			bottom: -15px;
		}

		@media (max-width: 767px) {
			bottom: -13px;
		}

		@media only screen and (min-width: 576px) and (max-width: 767px) {
			bottom: -20px;
		}

		svg {
			animation: section-animation 4s infinite;

			@media only screen and (min-width: 1600px) and (max-width: 1800px) {
				max-width: 200px;
			}

			@media only screen and (min-width: 1400px) and (max-width: 1599px) {
				max-width: 180px;
			}

			@media only screen and (min-width: 1200px) and (max-width: 1399px) {
				max-width: 180px;
			}

			@media only screen and (min-width: 992px) and (max-width: 1199px) {
				max-width: 120px;
			}
		}
	}
}

.mouse-scroll-btn-2 {
	display: inline-block;
	width: 16px;
	height: 25px;
	border: 2px solid #343640;
	@include mixins.border-radius(30px);
	outline: none;
	position: absolute;
	left: 50%;
	@include mixins.transform(translateX(-50%));
	bottom: 28px;
	z-index: 5;

	&::after {
		position: absolute;
		top: 4px;
		left: 3px;
		content: "";
		height: 6px;
		width: 6px;
		border: 2px solid #343640;
		@include mixins.border-radius(50%);
		animation: scrollProcess 1s infinite ease-in-out alternate;
	}
}

.scroll-bg-2 {
	position: absolute;
	bottom: -1px;
	left: 50%;
	@include mixins.transform(translateX(-50%));
	z-index: 4;

	@media only screen and (min-width: 576px) and (max-width: 767px) {
		bottom: -1px;
	}
}

.tp-btn-lg {
	display: inline-block;
	@include mixins.border-radius(32px);
	height: 64px;
	line-height: 64px;
	padding: 0 50px;
	font-weight: 500;
	font-size: 15px;
	text-align: center;
	text-transform: capitalize;
	position: relative;
	@include mixins.transition(0.3s);
	background: var(--tp-common-white);
	color: var(--tp-common-black);

	@media (max-width: 767px) {
		padding: 0 28px;
	}

	i {
		margin-left: 12px;
	}

	&.large {
		padding: 0 62px;
	}

	&::before {
		position: absolute;
		content: "";
		background: var(--tp-theme-5);
		@include mixins.border-radius(32px);
		width: 98%;
		height: 98%;
		left: 6px;
		top: 6px;
		@include mixins.transition(0.3s);
		z-index: -1;
	}

	&:hover {
		color: var(--tp-common-black);

		&::before {
			left: 1px;
			top: 0;
		}
	}
}